.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    margin: 15px 0px 15px 30px;
    position: relative;
}

.containerBtn {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: -20px;
}

.containerImg {
    display: flex;
    justify-content: center;
}
.containerImg img {
    border: 1px solid #DC851F;
}

.containerImg img:hover {
    border-color: #ffffff;
    transition-duration: 250ms;
    cursor: pointer;
    box-shadow: 0px 0px 1em rgba(255,255,255,0.25);
}


.containerBtnImg {
    display: flex;
    justify-content:center;
    margin: 15px 92px 16px 92px;
}

.containerContent {
    display: flex;
    justify-content: top;
}

.headerTitle {
    display: flex;
    justify-content: center;
}

.headerTitle h2{
    color: #DC851F;
    font-size: 25px;
}