.leaflet-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
  }

  .leaflet-control-zoom a {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  }
  
  .leaflet-bar a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bc851f;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #ffffff;
  
    transition-duration: 225ms;
  }
  .leaflet-touch .leaflet-bar {
    border: none;
  }
  .leaflet-control-zoom-in:hover {
    box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
  }
  
  .leaflet-control-zoom-out:hover {
    box-shadow: 0px 0px 1em rgba(255, 255, 255, 0.25);
  }

.Hide {
display:none
}

.Show {
  display:block
}

.sr-only {
  display: none;
}

.leaflet-draw-draw-polyline a {
  display: flex;
  justify-content: center;
  align-items: center;
}

